.top{
   padding:20px;
   margin: 0px 2px;
   display: inline-block;
   /* color: white; */
   /* cursor: pointer; */

}
.row{
    background-color: black;
    color: white;
}
.top:hover{
    cursor:pointer;
    background-color: rgb(19, 18, 18);
}
.second{
    /* padding-bottom: 0px; */
    padding-top: 20px;
    margin-top: -5px;
     background-color: grey;
}
img{
    width: 40%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    background: transparent;
    
}
.main-body{
    text-align: center;
}
#name{
    display: block;
    padding-bottom: 30px; 
    /* font-size: medium; */
    font-weight: bold;
}
.main{
    padding: 0;
    margin: 0;
    /* list-style: none; */
    font-size: 20px;
}
.main ul li a{
    color: black;
}
.main a{
    text-decoration: none;
}